body{
    background-color: aqua;
}
table{
    background-color: darkgoldenrod;
}
table tbody tr td {
    border: 1px solid brown;
    width: 200px;
    height: 100px;
    text-align: center;
}

table thead tr td {
    border: 2px solid brown;
    width: 200px;
    height: 100px;
    text-align: center;
    color: blue;
}

h1 {
    color: #ea503f;
    font-family: Arial;
    text-align: center;

}

#button1,
#button2 {
    align-items: center;
    width: 120px;
    height:50px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 50px 20px 200px;
    background-color: cadetblue;
}